<center><h1> BrüCycle </h1><center>
<center><h5> Burn it to earn it </h5><center><br>

<center><h6> Welcome, <%=current_user.firstname%> </h6><center>

<% if current_user.photo_url%>
  <%=image_tag(current_user.photo_url)%>
<%end%>

