---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/api/v3/oauth/token?client_id=99711&client_secret=7093f99e802655c47be7f19d49efce5273b4f60c&code=22330ec32fd0a86e6fa946b64389fc6b32333dd3&grant_type=authorization_code
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aa08a392c0c056eabacd94b36c1c664a"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_at":1673302659,"expires_in":14915,"refresh_token":"c2195164da28f69d67613d8e4db35477363ec9a2","access_token":"2a870a9fd1d600079ec9852f68bbb7b7a0c84a76","athlete":{"id":8040180,"username":null,"resource_state":2,"firstname":"Ashley","lastname":"Turner","bio":"","city":"Denver","state":"Colorado","country":"United
        States","sex":"F","premium":false,"summit":false,"created_at":"2015-02-25T00:23:28Z","updated_at":"2023-01-07T21:39:28Z","badge_type_id":0,"weight":86.1825,"profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/8040180/26271026/1/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/8040180/26271026/1/large.jpg","friend":null,"follower":null}}'
  recorded_at: Mon, 09 Jan 2023 18:09:04 GMT
recorded_with: VCR 6.1.0
