<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Are you drunk?</h1>
    <p>Hey pal, just wanted to check in... Our records indicate that you have drank over five beers in the last hour.</p>
    <p>We recommend taking an Uber home. You can get your bike in the morning.</p>
  </body>
</html>