<!DOCTYPE html>
<html>
<body 
    style="background-image: url('black_bike.jpg');
    <%# style="background-image: url('taproom_outside.jpeg'); */ %>
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;">
      style=background-color:#2B2F3C;">
<br><br>
<center><h1 style="color:white"> BrüCycle </h1><center>
<center><i><p style="color:white"> Burn it to earn it.</p></i><center>
<br><br>
<center><%= link_to "Login with Strava", "http://www.strava.com/oauth/authorize?client_id=#{ENV["strava_client_id"]}&response_type=code&redirect_uri=#{@base_url}/exchange_token&approval_prompt=force&scope=read,activity:read_all", method: :get, class: "btn btn-outline-warning"%><center>
<br><br>

</body>
