<h1 style='color:white'>Brügorithm</h1>
<br>
<%= link_to "Dashboard", "/dashboard", method: :get, class: "btn btn-large btn-outline-warning" %>
<br><div  style="margin-left: 10px; margin-right: 10px;">
  <table class="table text-white table-borderless">
    <thead class="thead-dark">
      <tr class="text-warning">
      <th><center><h3 style='color:#FFBF00; margin-right: 25px;'>Beers Banked From Money Saved</th></h3></center>
      <th><center><h3 style='color:#FFBF00; margin-left: 25px;'>Beers Banked From Calories Burned</th></h3></center>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><center><h5 style='color:white'>miles biked + Avg MPG of vehicle: 25mpg<br> x local avg. gas price per gal / national <br>avg beer price: $4.25</h5></td>
          <td><center><h5 style='color:white'>miles biked  x 50 cals burned per mile<br> biked / avg cal count</h5></td>
        </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<center><h3 style='color:#FFBF00'>Total Beers Banked</h3>
<h5 style='color:white'>beers banked from cals burned + <br>beers banked from money saved</h5>
<br>
