<br><br>
<h3 style='color:white'><center>BrüCycle Users!</center></h3><br>

<%= link_to 'Dashboard', '/dashboard', class: 'btn btn-outline-warning btn-sm'%>

<div  style="margin-left: 175px; margin-right: 175px;">
  <table class="table text-white bg-dark" style="--bs-bg-opacity: .5;">
    <thead class="thead-dark">
      <tr class="text-warning">
        <th>Username</th>
        <th>Beer Me</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= user.username %></th>
          <td>&nbsp;<%= link_to '🍻', '/user/update', class: 'btn btn-sm btn-outline-warning' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>